#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
  }
  .card > button{
    position: absolute;
    bottom: 0;
    display: block;
  }
  .card img {
    height: 300px;
    width: 100%;
    object-fit:fill;
  }
  .error{
    color: red;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }